h1 {
    padding-bottom: 10px;
}

.sections {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: space-between;
}

.sections > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    animation: 0.25s ease-out 0s 1 slideInFromTop;
}

.sections a {
    text-decoration: none;
}

.sectionTitleLeft {
    text-align: left;
}

.sectionTitleCenter {
    text-align: center;
}



.sections > div img {
    width: 100%; /* max width of parent div */
    aspect-ratio: 20 / 9;
    object-fit: cover; /* crop image to fit */
    border-radius: 25px;
    transition: all 0.5s ease;
}


.image-container {
    overflow: hidden;
    border-radius: 25px;
    width: 100%; /* max width of parent div */
    aspect-ratio: 20 / 9; 
    box-shadow: 5px 10px 10px var(--boxShadowColor);
}

.sections .image-container {
    margin: 10px 0 20px 0;
}

.sections > div > a:hover .image-container img {
    transform: scale(1.05);
    filter: brightness(70%);

}

.subPageSection > a:hover > .image-container img {
    transform: scale(1.05);
    filter: brightness(70%);
}




/* Title of the section */
.sections > div h1 {
    font-size: 2.5rem;
    padding-bottom: 0;
}

/* Date range under title */
.sections > div h2 {
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    color: var(--secondaryText)
}

.buttonBox {
    display: flex;
    margin-top: auto;
}

.buttonBox > a {
    margin: 5px auto;
}


.subPageSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
    justify-content: space-between;
    margin-top: 20px;
}

.subPageSection > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.subPageSectionVertical > .subPageSection > div {
flex: 0;
}

.subPageSectionVertical > .subPageSection {
    justify-content: flex-start;
}


.subPageSection > h1 {
    padding-top: 20px;
    padding-bottom: 0px;
    grid-column: span 2;
}

.subPageSection > .centerSection {
    grid-column: span 2;
}

/* If we remove this we get issues on subPageSectionVertical */
.fullHeightImg, .centerMedium > .subPageSection > .blur-load > img {
    height: 100%;
}

.subPageSection img, .subPageSection .blur-load {
    width: 100%; /* max width of parent div */
    object-fit: cover; /* crop image to fit */
    border-radius: 25px;
    transition: all 0.5s ease;
    box-shadow: 5px 10px 10px var(--boxShadowColor);
}

.headerImage {
    z-index: -1;
    opacity: 0.8;
}

.video-frame {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video-frame  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    transition: all 0.5s ease;
    box-shadow: 5px 10px 10px var(--boxShadowColor);
}

@media (max-width: 1400px) {
    .sections {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    .sections {
        grid-template-columns: 1fr;
    }
    .subPageSection {
        grid-template-columns: 1fr;
    }

    .subPageSection > h1 {
        grid-column: span 1;
    }

    .subPageSection > .centerSection {
        grid-column: span 1;
    }

    /* Used to show text above the img div */
    .moveImgDownMobile > div:nth-child(2) {
        order: 2;
      }

    .subPageSection > div img {
        max-height: 25em;
    }
    
}



.subPageSection > .text {
    flex-direction: inherit;
    align-items: center;
}



.subPageSectionVertical {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2.75rem;
    margin-top: 0;
    padding-top: 0;
}

.subPageSectionVertical > h1 {
    grid-column: span 2;
    margin-top: 30px;
}

@media (max-width: 1000px) {
    .subPageSectionVertical {
        grid-template-columns: 1fr;
    }
    .subPageSectionVertical > h1 {
        grid-column: span 1;
    }

    .subPageSectionVertical > .subPageSection > h2 {
        order: 1;
        text-align: center;
    }
    
    .subPageSectionVertical > .subPageSection > div {
        order: 2;
    }

    .subPageSection img, .subPageSection .blur-load {
        aspect-ratio: auto;
    }
}

.subPageSectionVertical > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    animation: 0.25s ease-out 0s 1 slideInFromTop;
    width: 100%;
}


.subPageSectionVertical > div > .text > a {
    margin-bottom: 15px;

}
